:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-vazir), Vazirmatn, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: var(--font-vazir) ;  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* app/globals.css یا هر فایل CSS گلوبال دیگه */

html {
  overflow-y: scroll;
  /* همیشه اسکرول‌بار عمودی رو نشون بده */
}

/* اختیاری: اسکرول‌بار رو قشنگ‌تر کن (برای وب‌کیت) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}